.header {
  font-size: 3rem;
  color: purple;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
}

.nav-item :hover {
  background-color: #435555;
  transition: background-color .75s;
}

.nav-item {
  padding: 1rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: inherit;
}

#nav-badge {
  padding: 1rem;
  color: rgb(25, 187, 3);
}
