@import "src/theme/theme";

.header {
  z-index: 5;
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(128, 128, 128);
  position: fixed;
}

.nav-container {
  display: flex;
  flex-direction: row;

  .nav-item {
    padding: 1rem;
  }

  :hover {
    background-color: #435555;
    transition: background-color 0.75s;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#nav-badge {
  padding: 1rem;
  color: rgb(25, 187, 3);

  :hover {
    background-color: #435555;
    transition: background-color 0.75s;
  }
}
